.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card1 {
  background-color: #f0f0f0;
  border: 2px solid #ddd;
}

.card2 {
  background-color: #ffcccb;
  border: 2px solid red;
}

.card3 {
  background-color: #bde0fe;
  border: 2px solid blue;
}

.card4 {
  background-color: #e7f3e7;
  border: 2px solid green;
}

.card5 {
  background-color: #fff0b3;
  border: 2px solid yellow;
}

.card6 {
  background-color: #ffb3d9;
  border: 2px solid pink;
}

.cardContainer div {
  transition: transform 0.3s ease;
}

.cardContainer div:hover {
  transform: scale(1.05);
}

.cardButton {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.cardButton:hover {
  background-color: #0056b3;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 80px;
  font-size: 14px;
}
